@import url("https://ayhanmike.github.io/cruise/css/layout.css");


/* Custom CSS */

:root {

--primary-50:  #fff3ef;
--primary-100: #ffe1d6;
--primary-200: #ffc4b3;
--primary-300: #ffa084;
--primary-400: #ff7b55;
--primary-500: #f25a2b;
--primary-600: #d34f27;
--primary-700: #b04121;
--primary-800: #8d331b;
--primary-900: #6b2614;
--primary-950: #3a120a;

--border-primary: #f25a2b;
--border-primary-light: #ff784f;

--bg-primary: #f25a2b;
--bg-primary-muted: #ff784f;

--text-primary: #f25a2b;

--box-shadow-lg: 2px 4px 24px rgba(242, 90, 43, 0.08);
--box-shadow-md: 1px 2px 16px rgba(242, 90, 43, 0.08);
--box-shadow-sm: 0px 0px 8px rgba(242, 90, 43, 0.08);


/* Images */
--arrow-down-primary: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="%23f25a2b"><path d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"></path></svg>');

}

#layout #cc .pagemaker-widget:nth-child(1) {
  width: 100% !important;
  max-width: 100% !important;
  margin-top: 0px !important;
}

#header {
  background-color: var(--bg-primary);
  color: var(--bg-white);
}

#header #header_nav #menu li a {
  color: var(--bg-white);
}

#header #header_nav #menu > li.menu_active > a {
  background: var(--bg-white);
}

#header #header_nav #menu > li:has(ul):has(li):hover ul li a:hover {
  background: var(--bg-primary-muted);
  color: var(--bg-white);
}

#header #header_nav #menu > li:has(ul):has(li) ul li a {
  color: var(--text-primary);
} 

#header_nav {
  display: flex !important;
  align-items: center !important;
  column-gap: 30px !important;
}

#header_logo img {
  height: 60px !important;
}

#header #header_lang_switch select, #cc select {
  background-color: var(--bg-white) !important;
  background-position: calc(100% - -4px) center !important;
}

#layout #cc .pagemaker-widget:last-child,
#layout .pagemaker-widget:last-child {
  width: 100% !important;
  max-width: 100% !important;
}

.text-center {
  text-align: center !important;
  font-size: 15px !important;
}

footer .copyright {
  padding: 24px 0;
  background-color: #003149 !important;
  color: var(--gray-300);
  font-size: 11px;
  line-height: 20px;
  border-top: 1px solid #0f4863 !important;
}

footer .footer-wrapper {
  background-color: #003149 !important;
}

footer {
  background: none !important;
  padding-top: 0px !important;
  clear: both;
  margin-top: 48px;
}

footer .footer-inner .footer-logo {
  display:  block !important;
}

.foot-socials {
  position: relative !important;
  display: block !important;
  margin-top: 1.5rem !important;
}

.foot-socials ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.foot-socials ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.foot-socials ul li a {
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: .2rem;
  background: rgba(255, 255, 255, .1);
  font-size: 15px !important;
  transition: all 
  ease .4s;
}

footer .footer-inner .footer-menu strong {
    font-size: 20px !important;
    color: var(--bg-white) !important;
}

footer .footer-col .footer-menu a {
  color: #a8b2b6 !important;
}

.text-primary {
  color: var(--text-primary) !important;
}