@import url("https://ayhanmike.github.io/cruise/css/layout.css");


/* Custom CSS */

:root {

--primary-50:  #fff3ef;
--primary-100: #ffe1d6;
--primary-200: #ffc4b3;
--primary-300: #ffa084;
--primary-400: #ff7b55;
--primary-500: #f25a2b;
--primary-600: #d34f27;
--primary-700: #b04121;
--primary-800: #8d331b;
--primary-900: #6b2614;
--primary-950: #3a120a;

--border-primary: #f25a2b;
--border-primary-light: #ff784f;

--bg-primary: #f25a2b;
--bg-primary-muted: #ff784f;

--text-primary: #f25a2b;

--box-shadow-lg: 2px 4px 24px rgba(242, 90, 43, 0.08);
--box-shadow-md: 1px 2px 16px rgba(242, 90, 43, 0.08);
--box-shadow-sm: 0px 0px 8px rgba(242, 90, 43, 0.08);


--arrow-down-primary: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="%23f25a2b"><path d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"></path></svg>');
--icon-plus-primary: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M8.57699 3.33745V12.6708' stroke='%23f25a2b' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.91064 8.00412H13.244' stroke='%23f25a2b' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
--arrow-down: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="%23f25a2b"><path d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"></path></svg>');
--arrow-left: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M11.4051 12.0041L16.3551 16.9541L14.9411 18.3691L8.57715 12.0041L14.9411 5.64014L16.3551 7.05414L11.4051 12.0041Z' fill='%23f25a2b'/%3E%3C/svg%3E");
--arrow-left-primary: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M11.4051 12.0041L16.3551 16.9541L14.9411 18.3691L8.57715 12.0041L14.9411 5.64014L16.3551 7.05414L11.4051 12.0041Z' fill='%23f25a2b'/%3E%3C/svg%3E");
--arrow-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M13.7492 12.0041L8.79919 7.05411L10.2132 5.64111L16.5772 12.0041L10.2132 18.3681L8.79919 16.9531L13.7492 12.0041Z' fill='%23f25a2b'/%3E%3C/svg%3E");
--arrow-right-white: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M6.57715%204L10.5771%208L6.57715%2012%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22/%3E%3C/svg%3E");
--icon-search-areas: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.4041 1.69412L22.8901 10.1791L21.4751 11.5931L20.7681 10.8861L16.5261 15.1291L15.8191 18.6651L14.4041 20.0791L10.1621 15.8361L5.21211 20.7861L3.79811 19.3721L8.74811 14.4221L4.50511 10.1791L5.91911 8.76512L9.45511 8.05812L13.6971 3.81512L12.9901 3.10812L14.4041 1.69412ZM15.1111 5.23012L10.4411 9.90012L7.61911 10.4651L14.1191 16.9651L14.6831 14.1431L19.3541 9.47312L15.1111 5.23012Z" fill="%23f25a2b"/></svg>');
--icon-search-cruiselines: url('data:image/svg+xml,<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.57712 15.0041V8.50412C4.57712 7.31065 5.05122 6.16605 5.89514 5.32214C6.73905 4.47823 7.88364 4.00412 9.07712 4.00412C10.2706 4.00412 11.4152 4.47823 12.2591 5.32214C13.103 6.16605 13.5771 7.31065 13.5771 8.50412V15.5041C13.5771 16.1672 13.8405 16.803 14.3094 17.2719C14.7782 17.7407 15.4141 18.0041 16.0771 18.0041C16.7402 18.0041 17.376 17.7407 17.8449 17.2719C18.3137 16.803 18.5771 16.1672 18.5771 15.5041V8.83412C17.9096 8.59821 17.347 8.13392 16.9888 7.52331C16.6305 6.9127 16.4996 6.1951 16.6193 5.49733C16.739 4.79957 17.1015 4.16658 17.6427 3.71025C18.184 3.25392 18.8692 3.00363 19.5771 3.00363C20.2851 3.00363 20.9702 3.25392 21.5115 3.71025C22.0527 4.16658 22.4153 4.79957 22.5349 5.49733C22.6546 6.1951 22.5237 6.9127 22.1655 7.52331C21.8072 8.13392 21.2446 8.59821 20.5771 8.83412V15.5041C20.5771 16.6976 20.103 17.8422 19.2591 18.6861C18.4152 19.53 17.2706 20.0041 16.0771 20.0041C14.8836 20.0041 13.7391 19.53 12.8951 18.6861C12.0512 17.8422 11.5771 16.6976 11.5771 15.5041V8.50412C11.5771 7.84108 11.3137 7.20519 10.8449 6.73635C10.376 6.26751 9.74016 6.00412 9.07712 6.00412C8.41408 6.00412 7.77819 6.26751 7.30935 6.73635C6.84051 7.20519 6.57712 7.84108 6.57712 8.50412V15.0041H9.57712L5.57712 20.0041L1.57712 15.0041H4.57712ZM19.5771 7.00412C19.8423 7.00412 20.0967 6.89876 20.2842 6.71123C20.4718 6.52369 20.5771 6.26934 20.5771 6.00412C20.5771 5.7389 20.4718 5.48455 20.2842 5.29701C20.0967 5.10948 19.8423 5.00412 19.5771 5.00412C19.3119 5.00412 19.0575 5.10948 18.87 5.29701C18.6825 5.48455 18.5771 5.7389 18.5771 6.00412C18.5771 6.26934 18.6825 6.52369 18.87 6.71123C19.0575 6.89876 19.3119 7.00412 19.5771 7.00412Z" fill="%23f25a2b"/></svg>');
--icon-search-ships: url('data:image/svg+xml,<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.57712 10.4041V4.00412C4.57712 3.7389 4.68247 3.48455 4.87001 3.29701C5.05755 3.10948 5.3119 3.00412 5.57712 3.00412H10.5771V1.00412H14.5771V3.00412H19.5771C19.8423 3.00412 20.0967 3.10948 20.2842 3.29701C20.4718 3.48455 20.5771 3.7389 20.5771 4.00412V10.4041L21.6631 10.7301C21.9094 10.804 22.1178 10.9699 22.245 11.1933C22.3722 11.4168 22.4084 11.6806 22.3461 11.9301L20.8291 17.9981C20.1834 18.0312 19.5374 17.9385 18.9271 17.7251L20.1771 12.3741L12.5771 10.0041L4.97712 12.3741L6.22712 17.7251C5.61679 17.9385 4.97082 18.0312 4.32512 17.9981L2.80912 11.9301C2.74681 11.6808 2.7829 11.417 2.90989 11.1936C3.03688 10.9702 3.24502 10.8042 3.49112 10.7301L4.57712 10.4041ZM6.57712 9.80412L12.5771 8.00412L18.5771 9.80412V5.00412H6.57712V9.80412ZM4.57712 20.0041C6.05338 20.0062 7.47819 19.4619 8.57712 18.4761C9.67604 19.4619 11.1009 20.0062 12.5771 20.0041C14.0534 20.0062 15.4782 19.4619 16.5771 18.4761C17.676 19.4619 19.1009 20.0062 20.5771 20.0041H22.5771V22.0041H20.5771C19.1728 22.0064 17.7928 21.6373 16.5771 20.9341C15.3615 21.6373 13.9815 22.0064 12.5771 22.0041C11.1728 22.0064 9.79277 21.6373 8.57712 20.9341C7.36146 21.6373 5.98148 22.0064 4.57712 22.0041H2.57712V20.0041H4.57712Z" fill="%23f25a2b"/></svg>');
--icon-search-durations: url('data:image/svg+xml,<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5771 22.0041C7.05412 22.0041 2.57712 17.5271 2.57712 12.0041C2.57712 6.48112 7.05412 2.00412 12.5771 2.00412C18.1001 2.00412 22.5771 6.48112 22.5771 12.0041C22.5771 17.5271 18.1001 22.0041 12.5771 22.0041ZM12.5771 20.0041C14.6988 20.0041 16.7337 19.1613 18.234 17.661C19.7343 16.1607 20.5771 14.1259 20.5771 12.0041C20.5771 9.88239 19.7343 7.84756 18.234 6.34727C16.7337 4.84697 14.6988 4.00412 12.5771 4.00412C10.4554 4.00412 8.42055 4.84697 6.92026 6.34727C5.41997 7.84756 4.57712 9.88239 4.57712 12.0041C4.57712 14.1259 5.41997 16.1607 6.92026 17.661C8.42055 19.1613 10.4554 20.0041 12.5771 20.0041ZM13.5771 12.0041H17.5771V14.0041H11.5771V7.00412H13.5771V12.0041Z" fill="%23f25a2b"/></svg>');
--icon-search-departures: url('data:image/svg+xml,<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.57712 1.00412V3.00412H15.5771V1.00412H17.5771V3.00412H21.5771C21.8423 3.00412 22.0967 3.10948 22.2842 3.29701C22.4718 3.48455 22.5771 3.7389 22.5771 4.00412V20.0041C22.5771 20.2693 22.4718 20.5237 22.2842 20.7112C22.0967 20.8988 21.8423 21.0041 21.5771 21.0041H3.57712C3.3119 21.0041 3.05755 20.8988 2.87001 20.7112C2.68247 20.5237 2.57712 20.2693 2.57712 20.0041V4.00412C2.57712 3.7389 2.68247 3.48455 2.87001 3.29701C3.05755 3.10948 3.3119 3.00412 3.57712 3.00412H7.57712V1.00412H9.57712ZM20.5771 11.0041H4.57712V19.0041H20.5771V11.0041ZM7.57712 5.00412H4.57712V9.00412H20.5771V5.00412H17.5771V7.00412H15.5771V5.00412H9.57712V7.00412H7.57712V5.00412Z" fill="%23f25a2b"/></svg>');
--icon-search-arrivals: url('data:image/svg+xml,<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.57712 1.00412V3.00412H15.5771V1.00412H17.5771V3.00412H21.5771C21.8423 3.00412 22.0967 3.10948 22.2842 3.29701C22.4718 3.48455 22.5771 3.7389 22.5771 4.00412V20.0041C22.5771 20.2693 22.4718 20.5237 22.2842 20.7112C22.0967 20.8988 21.8423 21.0041 21.5771 21.0041H3.57712C3.3119 21.0041 3.05755 20.8988 2.87001 20.7112C2.68247 20.5237 2.57712 20.2693 2.57712 20.0041V4.00412C2.57712 3.7389 2.68247 3.48455 2.87001 3.29701C3.05755 3.10948 3.3119 3.00412 3.57712 3.00412H7.57712V1.00412H9.57712ZM20.5771 11.0041H4.57712V19.0041H20.5771V11.0041ZM7.57712 5.00412H4.57712V9.00412H20.5771V5.00412H17.5771V7.00412H15.5771V5.00412H9.57712V7.00412H7.57712V5.00412Z" fill="%23f25a2b"/></svg>');
--icon-check: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2221%22%20height%3D%2220%22%20viewBox%3D%220%200%2021%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M8.91045%2012.6457L16.5704%204.98657L17.7488%206.16491L8.91045%2015.0032L3.60712%209.69991L4.78545%208.52157L8.91045%2012.6457Z%22%20fill%3D%22%23f25a2b%22/%3E%3C/svg%3E');
--icon-heart-gray: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="%23f25a2b"><path d="M12.001 4.52853C14.35 2.42 17.98 2.49 20.2426 4.75736C22.5053 7.02472 22.583 10.637 20.4786 12.993L11.9999 21.485L3.52138 12.993C1.41705 10.637 1.49571 7.01901 3.75736 4.75736C6.02157 2.49315 9.64519 2.41687 12.001 4.52853ZM18.827 6.1701C17.3279 4.66794 14.9076 4.60701 13.337 6.01687L12.0019 7.21524L10.6661 6.01781C9.09098 4.60597 6.67506 4.66808 5.17157 6.17157C3.68183 7.66131 3.60704 10.0473 4.97993 11.6232L11.9999 18.6543L19.0201 11.6232C20.3935 10.0467 20.319 7.66525 18.827 6.1701Z"></path></svg>');
--icon-heart-primary: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="%23f25a2b"><path d="M12.001 4.52853C14.35 2.42 17.98 2.49 20.2426 4.75736C22.5053 7.02472 22.583 10.637 20.4786 12.993L11.9999 21.485L3.52138 12.993C1.41705 10.637 1.49571 7.01901 3.75736 4.75736C6.02157 2.49315 9.64519 2.41687 12.001 4.52853ZM18.827 6.1701C17.3279 4.66794 14.9076 4.60701 13.337 6.01687L12.0019 7.21524L10.6661 6.01781C9.09098 4.60597 6.67506 4.66808 5.17157 6.17157C3.68183 7.66131 3.60704 10.0473 4.97993 11.6232L11.9999 18.6543L19.0201 11.6232C20.3935 10.0467 20.319 7.66525 18.827 6.1701Z"></path></svg>');
--icon-heart-red: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="%23f25a2b"><path d="M12.001 4.52853C14.35 2.42 17.98 2.49 20.2426 4.75736C22.5053 7.02472 22.583 10.637 20.4786 12.993L11.9999 21.485L3.52138 12.993C1.41705 10.637 1.49571 7.01901 3.75736 4.75736C6.02157 2.49315 9.64519 2.41687 12.001 4.52853ZM18.827 6.1701C17.3279 4.66794 14.9076 4.60701 13.337 6.01687L12.0019 7.21524L10.6661 6.01781C9.09098 4.60597 6.67506 4.66808 5.17157 6.17157C3.68183 7.66131 3.60704 10.0473 4.97993 11.6232L11.9999 18.6543L19.0201 11.6232C20.3935 10.0467 20.319 7.66525 18.827 6.1701Z"></path></svg>');
--icon-heart-fill-primary: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%220%200%2025%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M12.5782%204.53321C13.721%203.51087%2015.2118%202.96484%2016.7445%203.00724C18.2773%203.04964%2019.7357%203.67726%2020.8202%204.76121C21.9035%205.8444%2022.5315%207.30096%2022.5754%208.8323C22.6193%2010.3636%2022.0757%2011.8538%2021.0562%2012.9972L12.5762%2021.4892L4.09817%2012.9972C3.07743%2011.8532%202.53337%2010.3618%202.57771%208.8292C2.62204%207.29662%203.2514%205.83917%204.33657%204.75604C5.42174%203.67292%206.88038%203.04632%208.41303%203.00488C9.94569%202.96344%2011.4361%203.51031%2012.5782%204.53321Z%22%20fill%3D%22%23f25a2b%22/%3E%3C/svg%3E');
--icon-moon: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%220%200%2025%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M10.5771%207.00412C10.5769%208.39476%2010.991%209.75395%2011.7664%2010.9083C12.5418%2012.0627%2013.6435%2012.96%2014.9309%2013.4857C16.2184%2014.0114%2017.6332%2014.1417%2018.995%2013.86C20.3568%2013.5784%2021.6039%2012.8974%2022.5771%2011.9041V12.0041C22.5771%2017.5271%2018.1001%2022.0041%2012.5771%2022.0041C7.05415%2022.0041%202.57715%2017.5271%202.57715%2012.0041C2.57715%206.48112%207.05415%202.00412%2012.5771%202.00412H12.6771C12.0112%202.65528%2011.4824%203.43313%2011.1217%204.29183C10.761%205.15054%2010.5759%206.07275%2010.5771%207.00412ZM4.57715%2012.0041C4.57642%2013.7891%205.17268%2015.523%206.27104%2016.9301C7.36941%2018.3371%208.90678%2019.3364%2010.6386%2019.7689C12.3703%2020.2015%2014.197%2020.0424%2015.828%2019.3171C17.459%2018.5918%2018.8005%2017.3418%2019.6391%2015.7661C18.1466%2016.1178%2016.5889%2016.0822%2015.114%2015.6628C13.639%2015.2435%2012.2957%2014.4542%2011.2114%2013.3699C10.1271%2012.2856%209.33779%2010.9423%208.91843%209.4673C8.49906%207.99233%208.46351%206.43468%208.81515%204.94212C7.53473%205.62426%206.46393%206.64178%205.7174%207.88576C4.97088%209.12974%204.57673%2010.5533%204.57715%2012.0041Z%22%20fill%3D%22%23f25a2b%22/%3E%3C/svg%3E');
--icon-calendar: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%220%200%2025%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M9.57715%201.00412V3.00412H15.5771V1.00412H17.5771V3.00412H21.5771C21.8424%203.00412%2022.0967%203.10948%2022.2843%203.29701C22.4718%203.48455%2022.5771%203.7389%2022.5771%204.00412V20.0041C22.5771%2020.2693%2022.4718%2020.5237%2022.2843%2020.7112C22.0967%2020.8988%2021.8424%2021.0041%2021.5771%2021.0041H3.57715C3.31193%2021.0041%203.05758%2020.8988%202.87004%2020.7112C2.68251%2020.5237%202.57715%2020.2693%202.57715%2020.0041V4.00412C2.57715%203.7389%202.68251%203.48455%202.87004%203.29701C3.05758%203.10948%203.31193%203.00412%203.57715%203.00412H7.57715V1.00412H9.57715ZM20.5771%2011.0041H4.57715V19.0041H20.5771V11.0041ZM7.57715%205.00412H4.57715V9.00412H20.5771V5.00412H17.5771V7.00412H15.5771V5.00412H9.57715V7.00412H7.57715V5.00412Z%22%20fill%3D%22%23f25a2b%22/%3E%3C/svg%3E');
--icon-plus: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2221%22%20height%3D%2220%22%20viewBox%3D%220%200%2021%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M10.5768%204.17079V15.8375%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22/%3E%3Cpath%20d%3D%22M4.74414%2010.0041H16.4108%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22/%3E%3C/svg%3E');
--icon-minus: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2221%22%20height%3D%2220%22%20viewBox%3D%220%200%2021%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4.74365%2010.0041H16.4103%22%20stroke%3D%22%23ff784f%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22/%3E%3C/svg%3E');
}

#layout #cc .pagemaker-widget:nth-child(1) {
  width: 100% !important;
  max-width: 100% !important;
  margin-top: 0px !important;
}

#header {
  background-color: var(--bg-primary);
  color: var(--bg-white);
}

#header #header_nav #menu li a {
  color: var(--bg-white);
}

#header #header_nav #menu > li.menu_active > a {
  background: var(--bg-white);
}

#header #header_nav #menu > li:has(ul):has(li):hover ul li a:hover {
  background: var(--bg-primary-muted);
  color: var(--bg-white);
}

#header #header_nav #menu > li:has(ul):has(li) ul li a {
  color: var(--text-primary);
} 

#header_nav {
  display: flex !important;
  align-items: center !important;
  column-gap: 30px !important;
}

#header_logo img {
  height: 60px !important;
}

#header #header_lang_switch select, #cc select {
  background-color: var(--bg-white) !important;
  background-position: calc(100% - -4px) center !important;
}

#layout #cc .pagemaker-widget:last-child,
#layout .pagemaker-widget:last-child {
  width: 100% !important;
  max-width: 100% !important;
}

.text-center {
  text-align: center !important;
  font-size: 15px !important;
}

footer .copyright {
  padding: 24px 0;
  background-color: #003149 !important;
  color: var(--gray-300);
  font-size: 11px;
  line-height: 20px;
  border-top: 1px solid #0f4863 !important;
}

footer .footer-wrapper {
  background-color: #003149 !important;
}

footer {
  background: none !important;
  padding-top: 0px !important;
  clear: both;
  margin-top: 48px;
}

footer .footer-inner .footer-logo {
  display:  block !important;
}

.foot-socials {
  position: relative !important;
  display: block !important;
  margin-top: 1.5rem !important;
}

.foot-socials ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.foot-socials ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.foot-socials ul li a {
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: .2rem;
  background: rgba(255, 255, 255, .1);
  font-size: 15px !important;
  transition: all 
  ease .4s;
}

footer .footer-inner .footer-menu strong {
    font-size: 20px !important;
    color: var(--bg-white) !important;
}

footer .footer-col .footer-menu a, footer .footer-col .footer-menu li {
  color: #a8b2b6 !important;
}

.text-primary {
  color: var(--text-primary) !important;
}

#cc ul, #cc li {
  border: medium none;
  display: block;
  float: none;
  margin: 0;
  padding: 5px 0px !important;
  position: relative;
}

footer .footer-inner .footer-col:last-child {
  align-items: flex-start !important;
}

#layout #cc .page_content .page_list_check ul li {
  font-size: 14px !important;
  color: var(--text-color) !important;
  background-image: var(--icon-check) !important;
  background-position: center left !important;
  background-size: 20px 20px !important;
  background-repeat: no-repeat !important;
  padding: 4px 4px 4px 32px !important;
}