.brochure-thumbnail {
    width: 100%;
    height: 256px;
    object-fit: contain;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.btn-outline-primary {
    border-color: #2aa5dd !important;
    color: #2aa5dd !important;
    background-color: #ffffff !important;
    border-width: 2px !important;
    border:  2px solid #2aa5dd !important;
}
.btn-primary {
    background-color: #2aa5dd !important;
    border-color: #2aa5dd !important;
}
.text-primary {
    color: #2aa5dd !important;
}
h4 a, span a {
    color: black !important;
    text-decoration: none !important;
    font-size: 24px !important;
}
.dropdown-toggle::after {
    display: static !important;
    margin-left: none !important;
    vertical-align: none !important;
    border-top: none !important;
}